/* themes */
:root[data-theme="light"] {
	--bg: #ffffff;
	--title: #8c86ff;
	--txt: #252525;
	--card: #f4f4f4;
	--card-border: #bcbcbc;
	--img-border: #7c75f1;
	--btn: #8c86ff;
	--btn-txt: #ffffff;
	--a: #b0acfa;
	--select: #2c22df;
}

:root[data-theme="dark"] {
	--bg: #252525;
	--title: #b0acfa;
	--txt: #ffffff;
	--card: #151515;
	--card-border: #000000;
	--img-border: #000000;
	--btn: #000000;
	--btn-txt: #ffffff;
	--a: #d1cff5;
	--select: #2e25d7;
}

:root[data-theme="beige"] {
	--bg: #fff5e6;
	--title: #252525;
	--txt: #8b4513;
	--card: #ecd9bc;
	--card-border: #bcbcbc;
	--img-border: #7c75f1;
	--btn: #8b4513;
	--btn-txt: #ffffff;
	--a: #fff5e6;
	--select: #ff6b35;
}

:root[data-theme="nature"] {
	--bg: #e8f5e9;
	--title: #003d03;
	--txt: #2e7d32;
	--card: #bbd8be;
	--card-border: #bcbcbc;
	--img-border: #7c75f1;
	--btn: #003d03;
	--btn-txt: #ffffff;
	--a: #e8f5e9;
	--select: #2e7d32;
}

/* body */
body {
	font-family: "IBM Plex Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	background-color: var(--bg);
	color: var(--txt);
	transition: all ease-in-out 0.5s;
}

/* theme-selector-icons */

.theme-selector {
	padding: 5px;
	text-align: center;
}

.themes {
	gap: 10px;
	display: flex;
	margin: 10px 0px;
}

.theme {
	border: 1px solid;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	padding: 5px;
	font-size: 20px;
	cursor: pointer;
	transform: all ease-in-out 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.theme:hover {
	font-size: 25px;
}

#dark {
	background-color: #252525;
	color: #ffffff;
}

#light {
	background-color: #ffffff;
	color: #ffd600;
}

#beige {
	background-color: #fff5e6;
	color: #8b4513;
	/* color: #ff6b35; */
}

#nature {
	background-color: #e8f5e9;
	color: #2e7d32;
}

/* index.php */
.welcomePage {
	height: 50vh;
	gap: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

.welcomePage h1 {
	font-size: 100px;
	line-height: normal;
}

/* cards-style */
.cards {
	display: flex;
	gap: 40px 20px;
	flex-wrap: wrap;
}

.card {
	background-color: var(--card);
	padding: 16px;
	border-radius: 7px;
	border: 1px solid var(--card-border);
	width: 285px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	word-wrap: break-word;
}

.card h2 {
	font-size: 28px;
	line-height: 32px;
	font-family: "IBM Plex Serif";
	margin-bottom: 12px;
	font-weight: 300;
	color: var(--title);
}

.card p {
	margin-bottom: 10px;
}

.card .actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.card .actions a {
	font-weight: 600;
	color: var(--a);
	font-size: 13px;
	text-transform: uppercase;
}

.card .actions a:hover {
	color: var(--select);
	cursor: pointer;
}

.card img {
	width: 100%;
	margin-bottom: 10px;
	object-fit: cover;
	border: 1px solid var(--img-border);
	height: 340px;
}

/* filters-form style */
.filters {
	background-color: var(--card);
	padding: 10px;
	display: flex;
	justify-content: flex-end;
}

.filters form {
	display: flex;
	gap: 15px;
	align-items: center;
	flex-direction: row;
}

.filters form label {
	font-size: 12px;
}

.filters form input {
	background-color: var(--bg);
	color: var(--txt);
	border: 1px solid;
	border-radius: 3px;
	font-size: 12px;
	height: 30px;
	padding: 5px;
}

.filters form select {
	background-color: var(--bg);
	color: var(--txt);
	border-radius: 3px;
	font-size: 12px;
	height: 30px;
	padding: 5px;
}

/* head of page */
.header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.button {
	font-size: 13px;
	background-color: var(--btn);
	padding: 5px 10px;
	color: var(--btn-txt);
	border: 1px solid var(--btn);
	border-radius: 5px;
	cursor: pointer;
}

.button:hover {
	background-color: var(--btn-txt);
	color: var(--btn);
}

/* hCard style */
.hCard {
	background-color: var(--card);
	padding: 16px;
	border-radius: 7px;
	border: 1px solid var(--card-border);
	width: 800px;
	height: fit-content;
	display: flex;
	gap: 20px;
	flex-direction: row;
	overflow-wrap: anywhere;
}

.hCard .right-content {
	flex: 1;
}

.hCard .left-content {
	flex: 2;
}

.hCard h2 {
	font-size: 36px;
	line-height: 45px;
	font-family: "IBM Plex Serif";
	margin-bottom: 12px;
	font-weight: 300;
	color: var(--title);
}

.hCard p {
	margin-bottom: 10px;
}

.hCard .actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}

.hCard .actions a {
	font-weight: 600;
	color: var(--a);
	font-size: 13px;
	text-transform: uppercase;
}

.hCard .actions a:hover {
	color: var(--btn);
	cursor: pointer;
}

.hCard img {
	margin-bottom: 10px;
	object-fit: cover;
	border: 1px solid var(--img-border);
	height: 340px;
}

/* card highlight */
.highlight {
	border-color: var(--select);
	box-shadow: 0 0 0 2px rgba(0, 102, 204, 0.2);
	transition: 0.5ms;
}

/* form style */
form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* align-items: center; */
}

.input {
	gap: 20px;
	display: flex;
	flex-flow: column wrap;
}

.input p {
	margin-top: 3px;
	color: red;
	font-size: 14px;
}

.input label.special {
	width: fit-content;
	display: flex;
	justify-content: flex-end;
	color: var(--txt);
	font-weight: 900;
}

.input input[type="text"],
.input input[type="number"],
.input input[type="email"],
.input input[type="password"],
.input input[type="file"],
.input select,
.input textarea {
	background-color: var(--bg);
	width: 100%;
	max-width: 400px;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
}

fieldset {
	border: none;
	margin-left: -14px;
}

legend {
	font-weight: 900;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

/* Flash Messages */
.flash-message {
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 4px;
	border: 1px solid;
	width: 100%;
}

.flash-message.success {
	background-color: #d4edda;
	border-color: #c3e6cb;
	color: #155724;
}

.flash-message.error {
	background-color: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
}

.error-summary {
	border-radius: 6px;
	border: 1px solid #b00020;
	background: #fff5f5;
	padding: 0.75rem 1rem;
	margin-bottom: 0.75rem;
}

.error-summary ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

.error-summary li {
	list-style-type: inherit;
	display: list-item;
	unicode-bidi: isolate;
}

/* preview */
.content {
	display: flex;
}

.preview .content {
	gap: 20px;
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.preview .hCard {
	width: 100%;
}

/* hide&show */
.hidden {
	display: none;
}

.flex {
	display: flex;
}

/* deletePopup */
#overlay {
	background-color: rgba(55, 55, 55, 0.7);
	width: 100vw;
	height: 100vh;
	position: fixed;
	justify-content: center;
	align-items: center;
}

.deletePopup {
	background-color: var(--card);
	border-radius: 6px;
	padding: 20px;
	width: 500px;
	height: 195px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-flow: column wrap;
}

.deletePopup h2 {
	font-size: 23px;
	line-height: normal;
}

.bookTitle {
	font-family: "IBM Plex Serif";
	font-weight: 300;
	color: var(--title);
}

.deletePopup p {
	color: #b00020;
}

.largeBtn {
	border: 1px solid;
	border-radius: 6px;
	width: 48%;
	height: 35px;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
}

.largeBtn:hover {
	text-transform: uppercase;
	font-weight: 500;
	border-width: 2px;
}

#confirmBtn {
	background-color: #b00020;
	color: var(--card);
}

#confirmBtn:hover {
	background-color: var(--card);
	color: #b00020;
}